@model IEnumerable<Service>

@{
	ViewData["Title"] = "Services";
}

<div class="services__section">
	<p>Group: @ViewBag.GroupName</p>

	@*<form>
		<input type="submit" asp-action="Update" asp-controller="" asp-route-groups="@Model.ToList()" value="SAVE">
	</form>*@

	@foreach (var item in Model)
	{	
		<p contenteditable="true">@item.Name</p>

		@for(int i = 0; i < 10; i++){
			<span>.</span>
		}
		
		<p>@item.Price</p>

		<a asp-action="Edit" asp-route-id="@item.Id">Update</a>
		@await Component.InvokeAsync("Delete", item.Id)

		@*<div class="delete">
			<a class="delete-confirm">Delete</a>
			<form asp-action="Delete" asp-route-id="@item.Id">
				<input type="submit" style="color:red" value="Delete">
			</form>
		</div>*@
	}
</div>
